{% extends 'base.html.twig' %}

{% block title %}Edit Saved Items{% endblock %}

{% block body %}
    <h1>Edit Saved Items</h1>

    {{ include('saved_items/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_saved_items_index') }}">back to list</a>

    {{ include('saved_items/_delete_form.html.twig') }}
{% endblock %}
